
html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 overflow: hidden; /* contain objects "on-screen" */
   background: url(Bubbles.png);
    background-size: cover;
}


#bubble2 {
  width:250px;
  position: relative;
  top:-42.5px;
  left:-250px;
  animation: bubble-shrink 2.5s infinite linear;
animation-delay: 5s}

#bubble1 {
  width:250px;
  position: relative;
  top:-59px;
  left:0px;
  animation: bubble-shrink 2.5s infinite linear;}
@keyframes bubble-shrink {
  0% {transform: scale(1);}
  50% { transform: scale(0);}
  100% { transform: scale(1);}}

#ariel {
  width:550px;
   position: relative;
  top:-440px;
  left:0px;}
